a {
    text-decoration: none;
    color: rgb(85, 79, 79);
}

.cabecalho {
    background-color: aqua;
    padding: 2em;
}

.cabecalho__menu {
    list-style: none;
    padding: 0;
    display: none;
}

.cabecalho__menu.active {
    display: block; /* Mostra quando está ativo */
}

.menu__itens {
    margin: 0.5em;
}

.menu__hamburguer {
    display: none; /* Inicia escondido */
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.juncao {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .menu__hamburguer {
        display: block; /* Mostra em telas menores */
    }

    .cabecalho__menu.active {
        display: flex; /* Altera para flex quando está ativo */
        flex-direction: column;
    }
}
